@font-face {
  font-family: 'Atkinson-Hyperlegible-Regular';
  src: url('../../../assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Atkinson-Hyperlegible-Medium';
  src: url('../../../assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Atkinson-Hyperlegible-Bold';
  src: url('../../../assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'); /* Super Modern Browsers */
}